<template>
  <v-app>
    <v-main>
      <v-container>
          <v-row class="justify-center">
            
            <v-btn class="ma-10" @click="modifyLines(1)">Add a row</v-btn>
            <v-btn class="ma-10" @click="modifyLines(-1)">Take off a row</v-btn>
          
            <v-btn  class="ma-10" @click="modifyCols(1)">Add a column</v-btn>
            <v-btn  class="ma-10" @click="modifyCols(-1)">Take off a column</v-btn>
          </v-row>
        </v-container>
      <v-simple-table>
        
        
        <template v-slot:default>
          <thead>
            <tr>
             <th  v-for="j in nbCol" :key="j"> {{headers[j-1]}} </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="i in nbRow" :key="i"
            >
              <td v-for="j in nbCol" :key="j"> {{ items[(i-1)*nbCol + j-1]}}</td>       
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    nbRow : 4,
    nbCol : 4,
    donnees: ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"],
    items:[],
    headers:[]
  }),
  created: function () {
    const urlParams = new URLSearchParams(window.location.search);
    const rows = urlParams.get('row');
    console.log(rows);
    const cols = urlParams.get('col');
    console.log(cols);
    this.nbRow = rows === null ? 3 : parseInt(rows);
    this.nbCol = cols === null ? 3 : parseInt(cols);
    this.getTab();
  },
  methods:{
    resetTable(){
      this.items = [];
      this.headers = [];
    },
    modifyCols(val){
      this.resetTable();
      this.nbCol = this.nbCol +val;
      this.getTab();
    },
    modifyLines(val){
      this.resetTable();
      this.nbRow = this.nbRow +val;
      this.getTab();
    },
    getTab(){
      // setting headers
      this.setHeaders();
      
      // parity column is the last column in the first row
      let parityColumn = this.nbCol-1;

      // loop over to create each row
      for (let i=0; i<this.nbRow ; i++){
        let string = "Block";

        let addOn = 0;
        
        // stock in cols the corresponding data
        for(let j = 0; j<this.nbCol; j++){   
          // If j is parity column, we skip it for now
          if (j === parityColumn) {
            addOn = -1;
            
            continue;
          } else {
            // First we fill the current block
            let item = "Block " + this.donnees[(j + addOn + (i*(this.nbCol-1))) % this.donnees.length];
            this.items.push(item);

            // We build the string for the parity column
            let s = this.donnees[(i*(this.nbCol) + j + addOn - (i*1)) % this.donnees.length].toString();
            string = string + " " + s;
          }
        }

        // Now we fill the parity column
        this.items.splice(parityColumn + this.nbCol * i, 0, string);

        // back up 
        parityColumn++;
        parityColumn = (parityColumn % (this.nbCol));
      }
    },
    setHeaders(){
      for(let i=0; i<this.nbCol; i++){
        this.headers.push("Disk "+ i);
      }
    }
  }

};
</script>
